.x-header {
  background-color: #ff8598;
  color: white; }

.x-relative {
  position: relative; }

.x-top-right {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  width: 70px;
  text-align: center;
  cursor: pointer; }

.x-bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #ff8598;
  width: 70px;
  text-align: center;
  cursor: pointer; }

.x-mirror, .x-flip {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; } }

code {
  background-color: transparent; }

@-webkit-keyframes copyText {
  0% {
    background: white; }

  100% {
    background: #ffc0a9; } }

.x-code {
  font-family: monospace;
  font-size: 30px;
  overflow: hidden;
  padding: 10px 0px 10px 10px; }

.x-code:active {
  background-color: #ffc0a9;
  -webkit-animation: copyText 800ms; }

.x-copied {
  background-color: #ffc0a9; }

.x-kode {
  font-family: monospace;
  font-size: 30px;
  overflow: hidden;
  padding: 10px 0px 10px 10px; }
